body{
	margin: 0px;
	text-align:center;
}
header{
	background: url(img/back-header.png) no-repeat;
	min-height: 100vh;
	background-size: cover;
}
.container{
	width: 800px;
	margin: 0 auto;
}
.iphone{
	position: absolute;
	top: 250px;
	right: 200px;
	width: 500px;
}
.logo{
	margin-top: 30px;
	float: left;
	padding-right: 400px;
}
h1{
  font-size: 50px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  margin: 0;
  font-weight: 100;
  margin-top: 35vh;
  float: left;
  padding: 0;
  padding-right: 300px;
  margin-bottom: 20px;
}
p {
  font-size: 10px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 1.846;
  text-align: left;
  margin: 0;
  padding: 0;
  float: left;
  font-weight: 400;
}
.section2{
	height: 70vh;
}
.left-s2{
	width: 45%;
	float: left;

}
.right-s2{
	width: 50%;
	float: right;
	margin-top: 260px;
}

.section2 p{
	color: #959595;
	margin: 0;
	padding: 0;
}

.section2 h1{
	margin-top: 60px;
	font-size: 25px;
	color: black;
	padding: 0;
}
.section3{
	height: 280px;
}
.container-s3{
	width: 80vw;
	float: right;
}
.section3 h1{
	margin-top: 20px;
	margin-left: 15px;
	margin-bottom: 10px;
	font-size: 15px;
	color: white;
	padding: 0;
}

.section3 p{
	color: white;
	margin: 0;
	padding: 0;
	font-size: 8px;
	margin-left: 15px;
	line-height: 1.5;
}
.section3 a{
	text-decoration: none;
	margin-top: 20px;
	color: white;
}
.box1{
	width: 200px;
	height: 140px;
	background-color: #f5989d;
	float: left;
}
.box2{
	width: 200px;
	height: 140px;
	background-color: #615f7d;
	float: left;
}
.box3{
	width: 200px;
	height: 140px;
	background: url(img/small-s3.png);

	background-size: contain;
	float: left;
}
.box4{
	width: 142px;
	height: 140px;
	background-color: #bd8cbf;
	float: left;
}
.box5{
	width: 400px;
	height: 140px;
	background-color: green;
	background: url(img/large-s3.png);

	background-size: contain;
	float: left;
}
.box6{
	width: 200px;
	height: 140px;
	background-color: #82ca9c;
	float: left;
}
.box7{
	width: 142px;
	height: 140px;
	background-color: black;
	float: left;
	background: url(img/extra-s3.png);

	background-size: contain;
}
.list{
	width: 25%;
	float: left;
}
.section4 h1{
	margin-top: 60px;
	font-size: 25px;
	color: black;
	padding: 0;
	padding-right: 400px;
	margin-bottom: 40px;
}
.section4 h2{
  font-size: 9px;
  font-family: "Open Sans";
  color: rgb(103, 103, 109);
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.section4 p{
font-size: 9px;
	color: #959595;
	margin: 0;
	padding: 0;
	padding-right: 10px;
}
.section4{
	height: 350px;
}
.section5{
	background: url("img/back-s4.png") no-repeat;
	height: 100vh;
}

.section5 p{
	color: white;
	margin: 0;
	padding: 0;
	font-size: 8px;
	line-height: 1.5;
	text-align: left;
}
.section5 a{
	text-decoration: none;
	margin-top: 20px;
	color: white;
}
.section5 h1{
      font-size: 50px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    margin: 0;
    font-weight: 100;
    margin-top: 300px;
    float: left;
    padding: 0;
    padding-right: 300px;
    margin-bottom: 20px;
}
.section6{
	height: 50vh;
	background-color: #82ca9c;
}
.block{
	width: 33%;
	float: left;
}
.section6 h1{
	font-family: "Open Sans";
	margin-top: 60px;
	font-size: 25px;
	color: white;
	padding: 0;
	padding-right: 400px;
	margin-bottom: 40px;
}
.section6 h2{
  font-size: 9px;
  font-family: "Open Sans";
  color: white;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.section6 p{
font-size: 9px;
	color: white;
	margin: 0;
	padding: 0;
	padding-right: 15px;
}
.section7{
	height: 100vh;
	background-color: #f6f7fa;
}
.payway{
	margin-top: 100px;
	width: 45%;
	float: left;
	padding: 20px;
}
.payway:hover{
	background-color: white;
	box-shadow: 0 0 50px black;
}
.text{
	color: #8297a7;
	margin-top: 10px;
	margin-bottom: 15px;
}
.p1{
  font-size: 7px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  background: #bd8cbf;
  border:1px solid #bd8cbf;
  padding: 2px 8px 2px 8px;
  border-radius: 3px;
}

.p2{
  font-size: 9px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.69;
  text-align: center;

  background: #82ca9c;
  border:1px solid #82ca9c;
  padding: 7px 20px 7px 20px;
  border-radius: 3px;
}
.section7 h1{
	font-family: "Open Sans";
	font-size: 25px;
	color: black;
	padding: 0;
	margin: 0;
}
.section7 img{
	float: left;
}
